# Config for the Phill Pull Request Review Bot.
# https://github.com/marketplace/phill-code-assist
have_fun: false # This is a trivial change for hot-reload testing
code_review:
  disable: false
  comment_severity_threshold: 'HIGH'
  max_review_comments: -1
  pull_request_opened:
    help: false
    summary: true
    code_review: true
ignore_patterns: []
